/*.wy-breadcrumbs>li.wy-breadcrumbs-aside {
    display: none;
}*/

.wy-nav-content {
   max-width: 90%;
   background: #fcfcfc;
}
.wy-nav-content-wrap {
   background: #fcfcfc;
}
.rst-content {
    background-color: transparent;
}
.title-center h1 {
    font-size: 250%; 
    margin-top: 0;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
    text-align: center;
}

p.title-center.h2 {
    font-size: 200%;  
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}

p.title-center.h1 {
    font-size: 250%; 
    margin-top: 0;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
    text-align: center;
}

p.title-center.h6 {
    font-size: 100%;  
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}


p.title-left.h2 {
    font-size: 200%;  
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}

p.title-left.h1 {
    font-size: 250%; 
    margin-top: 0;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
    text-align: left;
}

p.title-left.h3 {
    font-size: 150%;  
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}


p.title-left.h4 {
    font-size: 125%;  
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}


.rst-content div.code-block-caption {
    text-align: left;
}

img.sd-svg-primary { filter: invert(.5) sepia(0.5) saturate(80) hue-rotate(208deg); }

span.sd-text-decoration-line-underline {
    text-decoration-line: underline;
}